In [1]:
import pandas as pd

In [43]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
s = df['Name'][0:10]

In [10]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [11]:
len(s)

10

In [12]:
type(s)

pandas.core.series.Series

In [13]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [16]:
pd.Series(s, index=l)

a    NaN
b    NaN
c    NaN
d    NaN
e    NaN
f    NaN
g    NaN
h    NaN
i    NaN
j    NaN
Name: Name, dtype: object

In [22]:
s1 = pd.Series(list(s), index=l)

In [17]:
s[0]

'Braund, Mr. Owen Harris'

In [20]:
s1[0]

'Braund, Mr. Owen Harris'

In [23]:
s1.append("Manav")

/tmp/ipykernel_798/570571183.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s1.append("Manav")

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [25]:
s2 = s1.append(s)

/tmp/ipykernel_798/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [26]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [27]:
s2[0]

0    Braund, Mr. Owen Harris
0    Braund, Mr. Owen Harris
dtype: object

In [28]:
s2[4]

4    Allen, Mr. William Henry
4    Allen, Mr. William Henry
dtype: object

In [29]:
s4 = pd.Series([3,4,5,6,6], index=[2,4,5,6,1])

In [30]:
s5 = pd.Series([32,41,53,65,26], index=[9,4,5,6,7])

In [32]:
s6 = s4.append(s5)

/tmp/ipykernel_798/937876903.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s6 = s4.append(s5)

In [33]:
s6

2     3
4     4
5     5
6     6
1     6
9    32
4    41
5    53
6    65
7    26
dtype: int64

In [34]:
s6[4]

4     4
4    41
dtype: int64

In [35]:
s6[0:5]

/tmp/ipykernel_798/2671872114.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s6[0:5]

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [36]:
s4

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [37]:
s5

9    32
4    41
5    53
6    65
7    26
dtype: int64

In [38]:
s4*s5

1      NaN
2      NaN
4    164.0
5    265.0
6    390.0
7      NaN
9      NaN
dtype: float64

In [39]:
s4+s5

1     NaN
2     NaN
4    45.0
5    58.0
6    71.0
7     NaN
9     NaN
dtype: float64

In [40]:
s5/s4

1          NaN
2          NaN
4    10.250000
5    10.600000
6    10.833333
7          NaN
9          NaN
dtype: float64

In [42]:
s5-s4

1     NaN
2     NaN
4    37.0
5    48.0
6    59.0
7     NaN
9     NaN
dtype: float64